In [53]:
from catboost import CatBoostClassifier
from sklearn.model_selection import train_test_split
import pandas as pd
import numpy as np
df_train = pd.read_csv("train.csv")
df_test = pd.read_csv("test.csv")

In [54]:
df_train.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [55]:
Y = df_train["Survived"]
df_train = df_train.drop(["Survived", "PassengerId"], axis = 1)

In [56]:
df_test.isna().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [57]:
df_train.head()

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [58]:
#обработаем NaN
df_train["Age"].fillna(df_train["Age"].median(), inplace = True)
df_train["Cabin"].fillna('', inplace = True)
df_train["Embarked"].fillna('', inplace = True)
df_test["Age"].fillna(df_test["Age"].median(), inplace = True)
df_test["Cabin"].fillna('', inplace = True)

In [59]:
df_train.isna().sum()

Pclass      0
Name        0
Sex         0
Age         0
SibSp       0
Parch       0
Ticket      0
Fare        0
Cabin       0
Embarked    0
dtype: int64

In [60]:
# Загрузка данных
X_train, X_test, y_train, y_test = train_test_split(df_train, Y, test_size=0.3, random_state=42)
# Создание и обучение модели с автоматической обработкой категориальных данных
model = CatBoostClassifier(iterations=1000, learning_rate=0.001, loss_function = "CrossEntropy", depth=7, verbose = 100)
model.fit(X_train, y_train,  cat_features = [1, 2, 6, 8, 9])

# Оценка производительности модели
accuracy = model.score(X_test, y_test)
print(f"Accuracy: {accuracy}")

0:	learn: 0.6925280	total: 40.8ms	remaining: 40.8s
100:	learn: 0.6395320	total: 3.26s	remaining: 29s
200:	learn: 0.5936547	total: 6.97s	remaining: 27.7s
300:	learn: 0.5568182	total: 10.5s	remaining: 24.3s
400:	learn: 0.5277808	total: 13.9s	remaining: 20.7s
500:	learn: 0.5028946	total: 17.4s	remaining: 17.3s
600:	learn: 0.4826283	total: 20.8s	remaining: 13.8s
700:	learn: 0.4654095	total: 24.4s	remaining: 10.4s
800:	learn: 0.4506272	total: 27.7s	remaining: 6.87s
900:	learn: 0.4373971	total: 31.1s	remaining: 3.42s
999:	learn: 0.4252836	total: 34.7s	remaining: 0us
Accuracy: 0.8134328358208955

In [61]:
test_data = df_test.drop(['PassengerId'], axis=1)

In [62]:
prediction = model.predict(test_data)

In [72]:

test_data['Survived'] = prediction
submissions = {
    'PassengerId': df_test['PassengerId'],
    'Survived': prediction
}
submission = pd.DataFrame(submissions)
submission.to_csv("Submission.csv", index=False)
print(submission)

     PassengerId  Survived
0            892         0
1            893         0
2            894         0
3            895         0
4            896         1
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]

In [ ]:
df_test